html,
body {
	padding: 0;
	margin: 0;
	background: #f4f2ee;
	height: auto;
	/* overflow: auto; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.mono-font {
	font-family: 'Courier New', Courier, monospace;
}

.container {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex-direction: column;
	max-width: 42rem;
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
@media (min-width: 640px) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
